@model WebClient.Models.Restaurant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label"></label>
                <input asp-for="RestaurantId" class="form-control" />
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label"></label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantAddress" class="control-label"></label>
                <input asp-for="RestaurantAddress" class="form-control" />
                <span asp-validation-for="RestaurantAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantPopular" class="control-label"></label>
                <input asp-for="RestaurantPopular" class="form-control" />
                <span asp-validation-for="RestaurantPopular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantPhone" class="control-label"></label>
                <input asp-for="RestaurantPhone" class="form-control" />
                <span asp-validation-for="RestaurantPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantRating" class="control-label"></label>
                <input asp-for="RestaurantRating" class="form-control" />
                <span asp-validation-for="RestaurantRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
